<nav class="navbar">
  <div class="navbar-nav">
    <div class="logo">
      <img src="static/images/logo.svg" />
      <div class="logo-text"></div>
    </div>
    <ul class="nav-list" id="nav-list">
      <li><a href="/#header">Home</a></li>
      <li><a href="/#promotional-video">Demo</a></li>
      <li><a href="/#press-review">Reviews</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <div id="cross">
        <i class="fa fa-times cross"></i>
      </div>
    </ul>

    <div class="bars" id="bars">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</nav>
