* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

// fonts 
$poppins : 'Poppins', sans-serif;
$lightCyan : #7FFFD4;
$oceanBlue : #56DEED;
$greenTuna : #DDFBA9;
$salmonOrange : #FC9471;
$dimCyan : #EDFBFF;

.header {
    font-family: $poppins;
    background-color: $dimCyan;
    padding-bottom: 30px;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.header .navbar .logo {
    width: 150px;
    height: 150px;
}

.header .navbar .logo img {
    width: 100%;
    height: 100%;
}

.header .navbar .nav-list {
    display: flex;
}

.header .navbar .nav-list li {
    list-style: none;
}

.header .navbar .nav-list li a {
    color: black;
    text-decoration: none;
    margin: 0 22px;
    font-size: 20px;
    font-weight: 500;
}

.header{
    .navbar{
        .nav-list{
            .cross{
                display: none;
            }
        }
        .bars{
            font-size: 30px;
            color: $salmonOrange;
            display: none;
        }
    }
}

.header {
    .header-wrapper {
        margin-top: 50px;
        display: flex;
        .left-header{
            width: 50%;
            text-align: center;
            .header-text{
                width: 50%;
                margin: auto;
                text-align: start;
                h1{
                    color: $salmonOrange;
                    font-size: 45px;
                    margin-bottom: 5px;
                    word-spacing: 5px;
                }
                .paragraph-wrapper{
                    width: 400px;
                    margin: auto;
                    margin-top: 35px;
                    p{
                        text-align: start;
                        line-height: 2rem;
                        margin: auto;
                        font-size: 18px;
                    }
                }
            }
        }
        
        }
    }

.header .header-wrapper .left-header form {
    margin-top: 45px;
}

.header .header-wrapper .left-header form .email {
    border: none;
    font-size: 18px;
    outline: none;
    padding: 10px 15px;
    border-bottom: 2px solid $oceanBlue;
    border-radius: 20px;
    width: 280px;
    margin-right: 10px;
}

.header .header-wrapper .left-header form .submit-btn {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: white;
    border: 1px solid;
    border-color: $oceanBlue;
    font-size: 14px;
    padding: 14px 30px;
    border-radius: 30px;
}

.header .header-wrapper .left-header form .submit-btn:hover {
    background-color: rgb(30, 107, 131);
    transition: 0.4s;
    color: white;
}

.header{
    .header-wrapper{
        .left-header{
            .badges{
                width: 100%;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                a{
                    img{
                        width: 230px; 
                        height: 90px;
                    }
                    .appstore{
                        height: 93px;
                    }

                }    
            }
        }
    }

}

.header .header-wrapper .right-header {
    width: 50%;
    text-align: center;
}

.left-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    max-height: 14rem;
    margin: auto;
    left: 2rem;
    background-color: orange;
    padding: 1rem 0.25rem;
    border-radius: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .left-panel-main {
        .left-panel_links {
            .left-panel_link {
                a{
                    cursor: pointer;
                    img {
                        width: 40px;
                        height: 40px;
                        
                    }
                }
            }
        }
    }
}

.right-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 2rem;
    max-height: 14rem;
    margin: auto;
    padding: 1.2rem 0.35rem;
    border-radius: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .right-panel-main {
        .right-panel_links {
            .right-panel_link {
                cursor: pointer;
                margin-bottom: 1rem;
                .circle {
                    width: 12px;
                    height: 12px;
                    background-color: transparent;
                    border: 3px solid black;
                    border-radius: 50%;
                    .inner-circle {
                        background-color: white;
                    }
                }

                .circle.active{
                    background-color: black;
                }
            }
        }
    }
}

.partner-program{
    background-color: $salmonOrange;
    padding: 90px 0;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    .left-partner{
        width: 50%;
        text-align: center;
    }
    .right-partner{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
       h1{
           font-size: 50px;
       }
       p{
           font-size: 22px;
           padding-top: 18px;
       }
       .paragraph{
           font-size: 22px;
           width: 400px;
           line-height: 2rem;
           padding-top: 30px;
       }
    }
}
.promotional-video{
    background-color: $dimCyan;
    padding: 250px 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    h1{
        font-size: 50px;
    }
}
@media(max-width:1000px){
    .right-panel{
        display: none;
    }
}
@media(max-width:1000px) {
    .header{
        .navbar{
            margin: 0;
            padding: 0;
            width: 100%;
            position: relative;
            .logo{
                position: absolute;
                top: 0;
                left: 2rem;
            }
            .nav-list{
                position: absolute;
                z-index: 1;
                flex-direction: column;
                justify-content: space-evenly;
                width: 100vw;
                height: 100vh;
                background-color: $lightCyan;
                top: -2500px;
                transition: 0.5s ease-in-out;

                li{
                    text-align: center;
                    font-size: 30px;
                    letter-spacing: 2px;
                    a{
                        color: $salmonOrange;
                    }
                }
                .cross{
                    display: block;
                    position: absolute;
                    top: 2.2rem;
                    right: 3.5rem;
                    font-size: 30px;
                    color: $salmonOrange;
                    cursor: pointer;
                }
            }
            .bars{
                display: block;
                position: absolute;
                cursor: pointer;
                right:2.8rem;
                top: 2.6rem;
            }
        
        }
        .nav-list.click{
            top: 0;
            position: relative;
        }
        .header-wrapper{
            margin-top:200px ;
            flex-direction: column-reverse;
            .right-header{
                margin-bottom: 50px;
                width: 100%;
            }
            .left-header{
                width: 100%;
                margin-bottom: 20px;
                .header-text{
                    h1{
                        text-align: center;
                    }
                    p{
                        font-size: 12px;
                        text-align: center;
                    } 
                    .paragraph-wrapper{
                        p{
                            text-align: justify;
                        }
                    }
                }
                
               
            }
        }
    }
    .partner-program{
        flex-direction: column;
        .left-partner{
            width: 100%;
        }
        .right-partner{
            width: 100%;
            text-align: center;
            h1{
                margin-top: 30px;
            }
            p{
                font-size: 18px;
            }
            .paragraph{
                text-align: center;
                margin: auto;
            }
        }
    }
}

