*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
// fonts 
$poppins : 'Poppins', sans-serif;
$lightCyan : #7FFFD4;
$oceanBlue : #56DEED;
$greenTuna : #DDFBA9;
$salmonOrange : #FC9471;

.header{
    font-family: $poppins;
    background-color: #7FFFD4;
}
.header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.header .navbar .logo{
    width: 150px;
    height: 150px;
}
.header .navbar .logo img{
    width: 100%;
    height: 100%;
}
.header .navbar .nav-list{
    display: flex;
}
.header .navbar .nav-list li{
    list-style: none;
}
.header .navbar .nav-list li a{
    text-decoration: none;
    margin: 0 22px;
    font-size: 18px;
    color: black;
}

.header .header-wrapper{
    margin-top: 50px;
    display: flex;
}
.header .header-wrapper .left-header{
    width: 50%;
    text-align: center;
}
.header .header-wrapper .left-header h1{
    color: $salmonOrange;
    font-size: 45px;
    margin-bottom: 5px;
    word-spacing: 5px;
}
.header .header-wrapper .left-header .paragraph-wrapper{
    width: 400px;
    margin: auto;
    margin-top: 35px;
    
}
.header .header-wrapper .left-header .paragraph-wrapper p{
    text-align: start;
    line-height: 2rem;
    margin: auto;
}
.header .header-wrapper .left-header form{
    margin-top: 45px;
}
.header .header-wrapper .left-header form .email{
    border: none;
    font-size: 18px;
    outline: none;
    padding: 10px 15px;
    border-bottom: 2px solid $oceanBlue;
    border-radius: 20px;
    width: 280px;
    margin-right: 10px;
}
.header .header-wrapper .left-header form .submit-btn{
    border: none;
    cursor: pointer;
    outline: none;
    background-color: white;
    border: 1px solid;
    border-color: $oceanBlue;
    font-size: 14px;
    padding: 14px 30px;
    border-radius: 30px;
}
.header .header-wrapper .right-header{
    width: 50%;
    text-align: center;
}


@media(max-width:1000px){
    .header{
        width: 100%;

    }
    .header .navbar .nav-list{
        display: none;
    }

    .header .header-wrapper{
        flex-direction: column-reverse;
    }
    .header .header-wrapper .left-header{
        width: 100%;
        margin-bottom: 20px;
    }
    .header .header-wrapper .left-header .badges{ 
        flex-direction: column;
    }
    .header .header-wrapper .right-header{
        margin-bottom: 50px;
        width: 100%;
    }
}

