* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

// fonts
$poppins: "Poppins", sans-serif;
$lightCyan: #7fffd4;
$oceanBlue: #56deed;
$greenTuna: #ddfba9;
$salmonOrange: #fc9471;
$dimCyan: #edfbff;

@import "header/header";
@import "contact/contact";
@import "main/main";
@import "footer/footer";
