.promotional-video {
  background-color: #7fffd4;
  padding: 50px 0;
  padding-bottom: 90px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url("../images/promotional-video-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

  .paw-parent-guide {
    .video {
      width: 60%;
      margin: auto;
      height: 500px;
      box-shadow: 3px 3px 10px black;
    }
  }
  h1 {
    font-size: 40px;
    color: #333333;
    margin-bottom: 3rem;
  }
}
