.press-review {
    background-color: #56deed;
    background-image: url("../images/reviews-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 0;
    font-family: $poppins;
    color: #333333;
    
    h1 {
      font-style: normal;
  
      font-weight: bold;
      font-size: 40px;
      letter-spacing: 2px;
      line-height: 55px;
      text-align: center;
    }
    .cards {
      display: flex;
      justify-content: center;
      margin-top: 90px;
      .card {
        color: #333333;
        width: 292px;
        height: 377px;
        background: #ffffff;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
        margin: 0 40px;
        text-align: center;
        padding: 15px 10px;
        border-radius: 20px;
        img {
          margin-top: 30px;
          width: 10%;
          height: 8%;
        }
        .text {
          margin-top: 20px;
          padding: 10px 30px;
          height: 70%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: start;
        }
      }
    }
  }